<div fxLayout="row" fxLayoutAlign="space-between center">
    <nav class="navbar navbar-expand-lg navbar-light db-nav ng-scope metric-search-nav">
        <div class="container-fluid">
            <a class="navbar-brand pt-3" href="javascript:void(0)">
                <img src="https://www.lpu.in/images/logo/logo.svg" />
            </a>
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
					</button> -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <h2 class="font-weight-bold">
                            <strong style="font-size: 24px;">Outcome Based Planner Construction - <span
                                    class="themeClr">
                                    File Upload</span></strong>
                        </h2>
                    </li>
                </ul>
            </div>
            <div class="text-right">
                <a href="https://ums.lpu.in/lpuums/Default.aspx"><i class="fas fa-home metric-search-home"
                        style="font-size: 15px;color: #fd6c04 !important;"></i> </a>
            </div>
        </div>
    </nav>
</div>
<app-file></app-file>
