<div class="container ">
    <input type="file" (change)="onFileSelected($event)" accept=".xlsx, .xls" >
    <button mat-raised-button   (click)="uploadFile()" >Upload </button>
   
    <div class="ser">
    <mat-form-field>
      <input matInput type="text" placeholder="Search Column" [(ngModel)]="searchTerm" (input)="searchColumn()">
    </mat-form-field>
  </div>
  <div class="tab">
    <mat-table *ngIf="isUploaded" [dataSource]="dataSource" >
      <!-- Display "metricid" column -->
      <ng-container matColumnDef="metricid">
        
        <mat-cell *matCellDef="let element"><strong>{{ element.metricid }}</strong></mat-cell>
      </ng-container>
  
      <!-- Header row with "metricid" column -->
     
      <!-- Data row with "metricid" column -->
      <mat-row *matRowDef="let row; columns: ['metricid'];" (click)="selectRow(row)"></mat-row>
    
    </mat-table>
   
  </div>
  <div class="but"  >
   
    <button  (click)="updateTable()">Update</button>
  </div>


 
  </div>
  